In [1]:
!pwd

/Users/adamgifford/Documents/Metis

In [2]:
!python --version

Python 3.6.8 :: Anaconda, Inc.

In [3]:
print('hello world')

hello world

In [5]:
#Include the following two lines in your notebooks so the graphs are viewable.
%matplotlib inline
import matplotlib.pyplot as plt

terminal_editor    open_a_file    edit_a_file    save_a_file        exit_a_file
nano	           nano filen.py  [just type]	 ctrl + o, enter	ctrl + x
vim, vi	           vim filen.py	  [just type]	 esc :w, enter	    esc :q, enter
emacs	           emacs filen.py [just type]	 ctrl-x, xtrl-s	    ctrl-x, ctrl-c

In [2]:
"""python_review_and_best_practices"""

'python_review_and_best_practices'

In [3]:
import sys
print("Python Version:", sys.version, '\n')

Python Version: 3.6.10 |Anaconda, Inc.| (default, May  7 2020, 23:06:31)
[GCC 4.2.1 Compatible Clang 4.0.1 (tags/RELEASE_401/final)]

In [4]:
print("Integer (int): ", type(1))
print("Float (float): ", type(1.5))
print("String (str): ", type("test"))
print("Boolean (bool): ", type(True))

Integer (int):  <class 'int'>
Float (float):  <class 'float'>
String (str):  <class 'str'>
Boolean (bool):  <class 'bool'>

In [5]:
example_tuple = (1, 2, "bob", 19, "eleventeen", 37)
print(example_tuple)

(1, 2, 'bob', 19, 'eleventeen', 37)

In [6]:
print(example_tuple[0]) # Remember, Python starts at 0 index
print(example_tuple[2])

1
bob

# short version
name_of_object_to_slice[start:stop:step] 

# longer version
name_of_object_to_slice[start_index : up_to_but_not_this_index : how many steps between returns]

In [7]:
# Note that we only get 3 total things, indexes 1, 2, 3
print(example_tuple[1:4])

(2, 'bob', 19)

In [8]:
# Let's go beginning to end, but skip by 2's 
# (if start is empty, assumes 0. If end is empty, assumes last value)
print(example_tuple[::2])

(1, 'bob', 'eleventeen')

In [9]:
# Grabbing the last 2 digits
print(example_tuple[-2:])
print(example_tuple[-1])

('eleventeen', 37)
37

In [10]:
example_tuple[1] = 7

TypeError: 'tuple' object does not support item assignment

In [11]:
example_list = [1,2,3,4,5,6,7,8]
print(example_list)

[1, 2, 3, 4, 5, 6, 7, 8]

In [12]:
print(example_list[0:4])

[1, 2, 3, 4]

In [13]:
example_list[0] = 'DIFFERENT NOW'
print(example_list)

['DIFFERENT NOW', 2, 3, 4, 5, 6, 7, 8]

It's tempting to just always use lists for everything. Please don't. Lists are a great catch-all, but whenever you're loading a row of data or just need to put the data somewhere and then use it again later, tuples are a better choice because they are immutable and you can't really "break" the data as easily.

In [14]:
new_tuple = tuple(example_list)
print(new_tuple)
print(type(new_tuple))

('DIFFERENT NOW', 2, 3, 4, 5, 6, 7, 8)
<class 'tuple'>

In [15]:
new_list = list(example_tuple)
print(new_list)
print(type(new_list))

[1, 2, 'bob', 19, 'eleventeen', 37]
<class 'list'>

In [16]:
# Let's add some data to the list
new_list.append("NEW DATA")
print(new_list)

[1, 2, 'bob', 19, 'eleventeen', 37, 'NEW DATA']

In [17]:
# Remove data piece
print(new_list.pop())
print(new_list)

NEW DATA
[1, 2, 'bob', 19, 'eleventeen', 37]

In [18]:
list_to_be_made_a_set = [1,1,1,1,5,2,6,8,0]
set_from_list = set(list_to_be_made_a_set)
print(set_from_list)

{0, 1, 2, 5, 6, 8}

In [19]:
set_A = {0,1,2,3,4}
set_B = {2,3,4,5,6,7}

print("Union: ", set_A.union(set_B))
print("Intersect: ", set_A.intersection(set_B))

Union:  {0, 1, 2, 3, 4, 5, 6, 7}
Intersect:  {2, 3, 4}

In [20]:
# We can't adjust sets or look up a single element
set_A[3]

TypeError: 'set' object does not support indexing

In [21]:
set_A[3] = 7

TypeError: 'set' object does not support item assignment

In [22]:
new_dictionary = {'key_for_this_thing': 3}
print(new_dictionary['key_for_this_thing'])

3

In [23]:
new_dictionary = {'key_for_a_list': [0,1,2,3,4], 'key_for_another_dictionary': {'bob': 1}}
print(new_dictionary['key_for_a_list'])

[0, 1, 2, 3, 4]

In [24]:
print(new_dictionary['key_for_another_dictionary'])
print(new_dictionary['key_for_another_dictionary']['bob'])

{'bob': 1}
1

In [25]:
# Example with some baseball stats!
# Let's assume a format like [Team, Games, Plate Apperance, Home Runs]
career_stats = {'babe_ruth': {1914: ["Red Sox", 5, 10, 0], 1915:['Red Sox', 43, 104, 4]},
                'gavvy_cravath': {1914: ['Phillies',149,604,14]}} # Yes, that's a real baseball player's name
print(career_stats['babe_ruth'])
print(career_stats['babe_ruth'][1914])

{1914: ['Red Sox', 5, 10, 0], 1915: ['Red Sox', 43, 104, 4]}
['Red Sox', 5, 10, 0]

Note that I was able to use an integer as a key. Any object that's immutable can be used as a key. So that means we can't use lists as keys, but we can use tuples.

In [26]:
# New entry using a tuple
career_stats[('a','new','player')] = ['Reds',12, 34, 8]

for key, val in career_stats.items(): #items allows us to access each key-value pair
    print(key, val)

babe_ruth {1914: ['Red Sox', 5, 10, 0], 1915: ['Red Sox', 43, 104, 4]}
gavvy_cravath {1914: ['Phillies', 149, 604, 14]}
('a', 'new', 'player') ['Reds', 12, 34, 8]

In [27]:
# We can also access just the keys or just the values with the proper methods
print(career_stats.keys())
print(career_stats.values())

dict_keys(['babe_ruth', 'gavvy_cravath', ('a', 'new', 'player')])
dict_values([{1914: ['Red Sox', 5, 10, 0], 1915: ['Red Sox', 43, 104, 4]}, {1914: ['Phillies', 149, 604, 14]}, ['Reds', 12, 34, 8]])

In [28]:
# New entry with a list
career_stats[['a','new','player']] = ['Reds',12, 34, 8]

TypeError: unhashable type: 'list'

**Following Pythonic Code Style**

In [29]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

Code is for people. 95% of the time it's not running. Write your code so that it can be read. Executing is 'secondary'. Your future self will thank you while debugging. A super clever solution that is only one line long, but no one can quickly debug is worse than a five line solution that everyone understands.

**The correct order of code development (in a nutshell)**

Make it work
Make it right
Make it readable
Make it fast (you rarely get to do this part)
"Premature optimization of code is the root of all evil."

Donald Knuth (Famous Computer Scientist)

**Functions**

In [30]:
table1 = [['Sam', 36, 85.95],
 ['Carol', 75, 53.65],
 ['Sam', 90, 95.37],
 ['Doug', 61, 19.8],
 ['Sam', 41, 45.22],
 ['Doug', 29, 42.98],
 ['Oliver', 61, 95.74],
 ['Carol', 32, 17.12],
 ['Tari', 27, 68.83],
 ['Tari', 81, 62.47]]

name_counter = {}
for row in table1:
    name = row[0]
    if name in name_counter.keys():
        name_counter[name] += 1
    else:
        name_counter[name] = 1
print(name_counter)

{'Sam': 3, 'Carol': 2, 'Doug': 2, 'Oliver': 1, 'Tari': 2}

In [31]:
# make it a function
def count_names_in_tables(table_to_count):
    """
    Takes in a table of data, where the first (0th) column
    is the name of the user, and counts how many time each
    user appears.
    ---
    Inputs: table (list of lists or array)
    Outputs: Dictionary (keys are names, values are counts)
    """
    name_counter = {}
    for row in table_to_count:
        name = row[0]
        if name in name_counter.keys():
            name_counter[name] += 1
        else:
            name_counter[name] = 1
    return name_counter

print(count_names_in_tables(table1))

{'Sam': 3, 'Carol': 2, 'Doug': 2, 'Oliver': 1, 'Tari': 2}

In [32]:
table2 = [['Oliver', 12, 49.95],
 ['Tari', 76, 30.71],
 ['Carol', 98, 25.07],
 ['Carol', 24, 11.85],
 ['Carol', 34, 13.36],
 ['Kelly', 14, 34.31],
 ['Tari', 6, 86.11],
 ['Tari', 90, 29.08],
 ['Carol', 55, 45.61],
 ['Sam', 88, 97.47]]

print(count_names_in_tables(table2))

{'Oliver': 1, 'Tari': 3, 'Carol': 4, 'Kelly': 1, 'Sam': 1}

In [42]:
f=list('catc')

In [43]:
f.index('c')

0

In [44]:
f.pop()

'c'

In [45]:
'cat'=='cat'

True

In [46]:
number_list = [3, 7, 10, -2]

In [47]:
number_list.append([1,2])

In [48]:
number_list

[3, 7, 10, -2, [1, 2]]

In [49]:
a = {3,4,1}

In [50]:
a[0]

TypeError: 'set' object does not support indexing

In [51]:
str(['a','b','c'])

"['a', 'b', 'c']"

In [52]:
type({})

dict

In [53]:
from collections import defaultdict

In [54]:
f = defaultdict(int)

In [55]:
f['foo']

0

In [56]:
g = ['ttt', 'h', ['a','b'],'c']
h = g

In [57]:
g[0]='ggg'
g[2][0] = 'q'

In [58]:
h

['ggg', 'h', ['q', 'b'], 'c']

In [59]:
g

['ggg', 'h', ['q', 'b'], 'c']